/**/
/* -------------------------------------------------
 * For Comment Module
 * @Author : leyu@taobao.com
 * -------------------------------------------------
 */
/*body background*/
.t-comment-body {margin-top:13px;background:red;}
.t-comment-body .t-topborder {background:url(/rs/img/widget/tbrr/top_border.gif) no-repeat;width:100%;height:6px;margin:0;_margin-bottom:-8px;}
.t-comment-body .t-middlebox {background:url(/rs/img/widget/tbrr/mid_border.gif) ;width:100%;height:auto;}
.t-comment-body .t-bottomborder {background:url(/rs/img/widget/tbrr/bottom_border.gif) no-repeat;width:100%;height:6px;}
.t-comment-body .t-cbanner {background:url(/rs/img/widget/tbrr/channer.gif) no-repeat 0 14px;width:100%;height:49px;}
.t-comment-body .t-cbanner p {color:white;font-size:14px; padding-top:20px;*padding-top:21px;_padding-top:22px;padding-left:40px;}
.t-comment{padding:10px}
.t-comment .t-comment-box{padding-bottom:12px}
.t-comment .t-comment-input{border:1px solid #888;border-color:#888 #cfcfcd #cfcfcd #888}
.t-comment-box .t-ci-hd{border-bottom:1px solid #fff;background:#f6f6f6;padding:3px 6px 6px;margin:1px 1px 0 1px;text-align:right;height:18px}
.t-comment-box .t-ci-bd{border-top:1px solid #d6d6d6;padding:3px}
.t-ci-img,.t-comment-box .t-ci-bd{background:url('/rs/img/widget/tbrr/icons.gif') no-repeat;_overflow-x:hidden;}
.t-ci-bd textarea{width:100%;border:0 none;height:8em;color:#666;overflow:auto}
.t-ci-cp .t-ci-img{width:24px;height:22px;display:inline-block;*display:inline;*zoom:1;margin-right:6px;cursor:pointer}
.t-comment-box .t-ci-hd .t-ci-cp{float:left;position:relative}
.t-ci-img.t-ci-face{background-position:-815px 0}
.t-ci-img.t-ci-face.hover{background-position:-814px -29px}
.t-ci-reply a{margin-left:10px}
.t-comment-btn{padding-top:10px}
.t-comment-btn button.t-ci-img{width:58px;height:20px;margin-right:10px;border:0px;}
.t-ci-img.submit{background-position:-815px -61px}
.t-ci-img.submit.mousehover{background-position:-815px -144px}
.t-ci-img.reset{background-position:-815px -89px}
.t-comment-list{padding-top:20px}.t-comment-list dt a:hover{text-decoration:underline}
.t-comment-item{margin-bottom:10px;background:white;border:1px solid #ddd;}
.t-comment-item dt{padding:3px 20px;text-align:right;zoom:1}
.t-comment-item dt .t-ci-img{font-weight:bold;font-size:14px;/*padding-left:20px;*/display:inline-block;*display:inline;*zoom:1;/*background-position:-815px -115px;*/background:white;float:left}
.t-comment-item dd{padding:8px 20px;}


/*hack*/
.t-ci-img.blue {color:#787878;}
.t-comment-item .time {color:#A0A0A0;}

/*grade*/
.t-comment-grade {background:url(/rs/img/widget/tbrr/comment_grade.gif) no-repeat;height:104px;font-size:14px; }
.t-comment-grade .t-cov {width:120px}
.t-comment-grade .t-cov img {margin-left:23px;padding:3px;border:1px solid scrollbar;background:white;margin-top:7px}
.t-comment-grade .t-stars {padding-top:44px;width:300px}

.t-comment-grade .t-stars .g0 {background:url(/rs/img/widget/tbrr/star.gif) no-repeat}
.t-comment-grade .t-stars .g1 {background:url(/rs/img/widget/tbrr/one_star.gif) no-repeat}
.t-comment-grade .t-stars .g2 {background:url(/rs/img/widget/tbrr/two_star.gif) no-repeat}
.t-comment-grade .t-stars .g3 {background:url(/rs/img/widget/tbrr/three_star.gif) no-repeat}
.t-comment-grade .t-stars .g4 {background:url(/rs/img/widget/tbrr/four_star.gif) no-repeat}
.t-comment-grade .t-stars .g5 {background:url(/rs/img/widget/tbrr/five_star.gif) no-repeat}

.t-comment-grade .t-stars .t-gradebar {width:135px;display:inline-block;*display:inline;*zoom:1;margin-left:20px}
.t-comment-grade .t-stars .t-gradebar em {height:20px; width:23px;display:inline-block;*display:inline;*zoom:1;vertical-align:middle}
.t-comment-grade .t-login {padding:44px 40px 0  0;width:280px;font-size:12px}


.k-comment-con {border:1px solid #DDDDDD;background-color:#F0F0F0;color:#464646;}
.k-comment-con .wrap{width:626px;height:100%;border:1px solid white;}
.k-comment-con .k-c-title {background:url('/rs/img/widget/tbrr/t_icon.gif') no-repeat 14px 17px;padding-left:26px;padding-top:12px;font-size:14px;font-weight:bold;}



.t-ci-bd textarea {
border:0 none;
color:#666666;
height:8em;
overflow:auto;
width:100%;
_width:95%;
}
