.tblogin {position:absolute; width:300px; height:160px; margin: 0 auto; text-align:center; padding:0; 
border:solid #69f 2px; border-right:solid #69f 4px; border-bottom:solid #69f 4px; background:#fff; z-index:100;}
.tblogin a.close {position:absolute; width:15px; height:15px; overflow:hidden; top:5px; right:5px; background:transparent url(/rs/img/widget/tblogin/close_btn.png) no-repeat scroll;}
